---
import Span from "../components/Span.astro";
import Strong from"../components/Strong.astro";

---
<div class="">
    <h2 class="UPPERCASE text-4xl mb-12">
        <Strong>
            Sobre mí
        </Strong>
    </h2>
    <p class="text-xl  ">
        <Span>
            Análisis y Desarrollo de Sistemas de Información:
        </Span>
            Soy autodidacta y me gusta aprender sobre temas de programación,
            mantenimiento de computadoras y ciberseguridad. 
            Adoro viajar y salir a comer con mis amigos. 
            Tengo experiencia en el área de sistemas,
            en el sector hospitalario y en atención al cliente.   
    </p>
</div>



