---
import SecctionConteiner from "../components/SecctionConteiner.astro";
import { projects } from "../CV.json";
import Strong from "../components/Strong.astro";
import Card from "../components/Card-Proyectos.astro";
---


<SecctionConteiner title="Proyectos">
    <h2 class="UPPERCASE text-4xl m-12">
        <Strong> Proyectos </Strong>
    </h2>
    <ul class="flex gap-5 flex-wrap justify-center text-center">
        {projects.map(({ name, demo,url,description }) => <Card name={name} url={url} demo={demo} description={description} />)}
    </ul>
</SecctionConteiner>