---
import Layout from "../layouts/Layout.astro";
import About from "./About.astro";
import HeroMe from "./HeroMe.astro";
import Skill from "./skill.astro";
import Proyectos from "./Proyectos.astro";
import Contac from "../components/Contac.astro"
---

<Layout title="Portafolio">
	<main>
		<HeroMe />
		<About />
		<Skill />
		<Proyectos />
		<Contac/>
	</main>
</Layout>
